<div class='container'>
    <h2><%= @band.name() %></h2>

  <h4>Select the venues where this band has played:</h4>

  <% if @venues.any?() %>
    <form action="/bands/<%= @band.id %>" method="post">
      <input type="hidden" name="_method" value="patch">

      <% @venues.each() do |venue| %>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="venue_id[]" value="<%= venue.id() %>"><%= venue.location() %>
          </label>
        </div>
      <% end %>

      <button class='btn btn-primary btn-md' type="submit" >Add</button>
    </form>
  <% end %>

  <br>

  <% if @band.venues().any?() %>
  <h4>Here are all the venues for this band:</h4>

    <ul>
      <% @band.venues().each() do |venue| %>
        <li><%= venue.location() %></li>
      <% end %>
    </ul>

  <% else %>
    <p>Uh-oh! This band does not have any venues yet</p>
  <% end %>
  <br>
  <a href="/">Return to Home</a>
</div>
